{% extends "universe/base.html" %}

{% block content %}
<div class="universe-tree">
    {% for galaxy in galaxies %}
    <div class="tree-item">
        <button class="toggle-btn" onclick="toggleNode(this)">+</button>
        <span class="item-name galaxy">{{ galaxy.name }}</span>
        <div class="tree-content">
            {% for system in galaxy.starsystem_set.all %}
            <div class="tree-item">
                <button class="toggle-btn" onclick="toggleNode(this)">+</button>
                <span class="item-name system">{{ system.name }}</span>
                <div class="tree-content">
                    {% for star in system.star_set.all %}
                    <div class="tree-item">
                        <button class="toggle-btn" onclick="toggleNode(this)">+</button>
                        <span class="item-name star">{{ star.name }}</span>
                        <div class="tree-content">
                            {% for planet in star.planet_set.all %}
                            <div class="tree-item">
                                <button class="toggle-btn" onclick="toggleNode(this)">+</button>
                                <span class="item-name planet">{{ planet.name }}</span>
                                <div class="tree-content">
                                    {% for moon in planet.moon_set.all %}
                                    <div class="tree-item">
                                        <button class="toggle-btn" onclick="toggleNode(this)">+</button>
                                        <span class="item-name moon">{{ moon.name }}</span>
                                        <div class="tree-content">
                                            {% for station in moon.station_set.all %}
                                            <div class="tree-item">
                                                <span class="item-name station">{{ station.name }}</span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% for station in planet.station_set.all %}
                                    <div class="tree-item">
                                        <span class="item-name station">{{ station.name }}</span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}